AI-gmail-automator.json
{
  "name": "AI Email Organizer - Final Daniel Custom",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "labelIds": [
            "INBOX"
          ]
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        -960,
        368
      ],
      "id": "dc3d90ac-3141-42cb-a7b0-339309c53911",
      "name": "Gmail Trigger"
    },
    {
      "parameters": {
        "inputText": "=From: {{ $json.From }}\nSubject: {{ $json.Subject }}\nSnippet: {{ $json.snippet }}",
        "categories": {
          "categories": [
            {
              "category": "דחוף",
              "description": "הודעות על קבלה לעבודה (Offer), בקשות להשלמת מסמכים לתהליך גיוס או קליטה (I-9, חוזים), ועדכונים קריטיים מ-Columbia או Rhino Health."
            },
            {
              "category": "Job Applications",
              "description": "מיילים כלליים על תהליכי מיון, זימונים לראיונות ועדכוני סטטוס משרות."
            },
            {
              "category": "Purchases",
              "description": "קבלות, אישורי הזמנה ופרטי תשלום. מיילים אלו יסומנו כנקראו ויאורכבו."
            },
            {
              "category": "Updates",
              "description": "מיילים אוטומטיים, ניוזלטרים או עדכוני מערכת. מיילים אלו יסומנו כנקראו ויאורכבו."
            },
            {
              "category": "Malicious",
              "description": "מיילים חשודים, פישינג או ספאם שהגיעו לתיקיית ה-Malicious."
            },
            {
              "category": "רגיל",
              "description": "מיילים אישיים או הודעות שאינן נופלות תחת הקטגוריות האחרות."
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1,
      "position": [
        -688,
        368
      ],
      "id": "c386fcb6-001d-43a7-9ca8-18862ecc06c8",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "model": {
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -736,
        736
      ],
      "id": "7f8cb1be-fe13-4bdb-ad79-90de5d3e85d3",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "operation": "update",
        "messageId": "={{$node[\"Gmail Trigger\"].json[\"id\"]}}",
        "addLabelIds": [
          "={{$node[\"Text Classifier\"].json[\"category\"]}}"
        ],
        "removeLabelIds": [
          "INBOX"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -350,
        368
      ],
      "id": "gmail-archive-node",
      "name": "Tag & Archive"
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{$node[\"Gmail Trigger\"].json[\"id\"]}}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -100,
        450
      ],
      "id": "mark-read-node",
      "name": "Mark as Read",
      "executeCondition": "={{['Purchases', 'Updates'].includes($node[\"Text Classifier\"].json[\"category\"])}}"
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "Tag & Archive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag & Archive": {
      "main": [
        [
          {
            "node": "Mark as Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}